/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    background-color: #0084fd;
    position: fixed;
    display: flex;
    align-items: center;
}
.container-header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    align-items: center;
}
#header-nav{
    display: flex;
}
#header-nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.text-white{
    color: white;
    text-decoration: none;
}
.header-button{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 25px;
}


#header-nav-mobile{
    display: none;
}

    /* regole responsive */
@media screen and (max-width:780px) {
    #header-nav{
        display: none;
    }
    #header-nav-mobile{
        display: block; 
        align-items: center;
    }
    .fa-bars{
        font-size: 2rem;
        color: white;
    }
} 
/* sezione main */
section{
    /* background-color: aqua; */
    width: 100%;
    margin-bottom: 20px;
}
    /* dev section */

.dev-section{
    padding-top: 200px;
    padding-bottom: 20px;
}
.row-top{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
#col-dx-top{
    width: 66%;
    background-color: #b5ddff;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
}
.col-dx-text{
    padding-left: 2rem;
}
.col-dx-text h3{
    color: #0084fd;
    padding: 2rem 0;
}
.col-dx-text p{
    color: grey;
    font-weight: bold;
    padding-bottom: 2rem;
}
.col-dx-text span a{
    background-color: #0084fd;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 22px;
    text-decoration: none;

}
.col-dx-img{
    display: block;
    max-width: 100%;
    padding-right: 2rem;
    padding-top: 3rem;
}

#col-sx-top{
    width: 32%;
    background-color: #b5ddff;
    border-radius:22px;
    text-align: center;
}
.fa-file-code{
    color: #0084fd;
    font-size: 4rem;
    padding-top: 2rem;
}
#col-sx-top h3{
    font-size: 1rem;
    color: #0084fd;
    padding: 1rem 0;
}

.row-bottom{
    width: 80%;
    /* background-color: darkgoldenrod; */
    /* min-height: 200px; */
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.col-bottom{
    width: calc(100%/3 - 20px);
    justify-content: space-between;
    background-color: #b5ddff;
    border-radius:22px;
    text-align: center;
}

.fa-compass-drafting{
    color: #0084fd;
    font-size: 4rem;
    padding-top: 2rem;
}

.fa-laptop-code{
        color: #0084fd;
        font-size: 4rem;
        padding-top: 2rem;
}
.fa-bullhorn{
    color: #0084fd;
    font-size: 4rem;
    padding-top: 2rem;
}


.col-bottom h3{
    font-size: 1rem;
    color: #0084fd;
    padding: 1rem 0;
}





    /* regole responsive dev section  */
    @media screen and (max-width:810px){
        #col-dx-top{
            display: block
        }
    }

    @media screen and (max-width:375px){
        .row-top{
            display: block;
            margin: 0 auto;
        }
        #col-dx-top, #col-sx-top{
            width: 100%;
            margin: 0 auto;
            display: block;
        }
        #col-sx-top{
            margin-top: 20px;
        }

        .row-bottom{
            margin: 0 auto;
            display: block;
        }

        .col-bottom{
            margin-top: 20px;
            width: 100%;
        }
    }
        /* strategic section */
    .strategic-section{
        background-color: #9593e6;
        padding: 20px 0;
    }
    .conteiner-strategic{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    #col-dx, #col-sx{
        width: calc(100%/2 - 2rem);
    }
    .strategic-dx-img{
        max-width: 100%;
    }

    #col-sx{
        padding-top: 6rem;
    }
    .sx-col-conteiner{
        width: 60%;
        margin: 0 auto;
        background-color: white;
        border-radius: 1rem;
        text-align: center;
        padding: 2rem;
    }

    .strategic-sx-img{
        max-width: 100%;
    }

    .sx-col-conteiner p{font-style: italic;
        padding: 1rem;
    }
    .fa-arrow-down{
        background-color: #9593e6;
        padding: 1rem;
        border-radius: 50%;
    }

    /* regole responsive strategic section  */
    @media screen and (max-width:780px){
        .strategic-section{
            padding: 20px 0;

        }
        .conteiner-strategic{
            display: block;
            margin: 0 auto;
        }
        .sx-col-conteiner{
            width: 100%;
        }
        #col-dx, #col-sx{
            width: 100%;

        }
        #col-sx{
            margin-top: 20px;
        }
    }
     /* partner section */
     .partner-section{
     padding: 20px 0;
     }
     .conteiner-partner{
        width: 80%;
        margin: 0 auto;
     }
     .conteiner-img-recensione{
        width: 40%;
        object-fit: fill;
        padding: 2rem;
     }
     .img-recensione{
        max-width: 100%;
        border-radius: 50%;
        object-fit: fill;
     }
     .title-partner{
        text-align: center;
     }
     .text-recensione{
        color: white;
        padding: 2rem;
        justify-content: center;

     }
     .recensioni{
        background-color: rgb(168, 195, 227);
        margin-top: 10px;
        display: flex;
        border-radius: 2rem;
        justify-content: center;
     }
      /* regole responsive partner section  */
    @media screen and (max-width:480px){
        .recensioni{
            display: block;
        }
        .conteiner-img-recensione{
            width: 100%;
        }
    }


    /* benefit section */
    .benefit-section{
     padding: 20px 0;
     background-color: #9593e6;
     }
     .conteiner-benfit{
        width: 80%;
        /* background-color: rgb(6, 93, 29); */
        margin: 0 auto;
     }
     .benefit-titile{
        text-align: center;
     }
     .row-benefit{
        /* background-color: rgb(11, 158, 184); */
        min-height: 200px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .col-benefit{
        width: calc(100%/3 - 1.5rem);
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        min-height: 200px;
        margin-top: 20px;
        padding: 0 2rem ;
        padding-bottom: 1rem;
    }
    .number{
        font-size: 40px;
        color: #9593e6;
        padding: 2rem 0;
    }
    .col-benefit h3{
        color: #9593e6;
    }
    .col-benefit p{
        padding: 2rem 0;
    }
    .bottone-benefit{
        padding: 0.5rem 2rem;
        color: white;
        background-color: #9593e6;
        border-radius: 22px;
    }
    #spaziature-bottone{
        padding-bottom: 1rem;
    }

      /* regole tablet responsive benefit section  */
      @media screen and (max-width:780px){
        .col-benefit{
            width: calc(100%/2 - 20px);
            border-radius: 1rem;
            margin-top: 20px;
        }
      }
      /* regole mobile responsive benefit section  */
      @media screen and (max-width:480px){
        .col-benefit{
            width: 100%;
            border-radius: 1rem;
            margin-top: 20px;
        }
      }

    /* sezione about-us */
    
    .about-section{
        background-color: rgb(1, 19, 52);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .row-about{
        width: 80%;
        background-color: rgb(212, 192, 140);
        min-height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    #col-dx-about{
        width: 66%;
        background-color: rgb(39, 11, 16);
        min-height: 200px;
        border-radius: 10%;
    }
    #col-sx-about{
        width: 32%;
        background-color: rgb(30, 255, 0);
        min-height: 200px;
        border-radius: 10%;
    }
      /* regole responsive about-us section  */
      @media screen and (max-width:480px){
        .row-about{
            display: block;
            margin: 0 auto;
        }
        #col-dx-about, #col-sx-about{
            width: 100%;
            margin: 0 auto;
        }
        #col-sx-about{
            margin-top: 20px;
        }
      }
       /* sezione get_started */
       .get_started-section{
        background-color: rgb(24, 0, 71);
        padding: 20px 0;
     }
     .conteiner-get_started{
        width: 80%;
        background-color: rgb(150, 147, 139);
        min-height: 200px;
        margin: 0 auto;
        text-align: center;
     }
     .title-get_started{
        background-color: rgb(27, 2, 1);
        min-height: 100px;
        text-align: center;
     }
     /* regole responsive get_started section  */
     @media screen and (max-width:480px){}
    /* regole footer */
footer{
    width: 100%;
    min-height: 200px;
    background-color: rgb(0, 0, 0);
}
.footer-conteiner{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
    min-height: 200px;
}






    

